---
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1) // remove the first "/"

const pages = [
  { path: '', text: 'Playground' },
  { path: 'docs', text: 'Documentation' },
  { path: 'reference', text: 'Function reference' },
  { path: 'implementations', text: 'Implementations' }
]
---

<div class="menu">
  {pages.map(({path, text}) =>
    <a href={`/${path}`} class={path === currentPath ? 'active' : ''}>{text}</a>
  )}
</div>

<style>
  .menu {
    display: flex;
    flex-wrap: wrap;
    gap: var(--button-margin);
    row-gap: var(--button-margin);

    a {
      display: inline-block;
      text-decoration: none;
      background: white;
      color: var(--link-color);
      padding: var(--padding) calc(2 * var(--padding));
      border-radius: var(--border-radius);
    }
    a:hover,
    a:focus {
      background: var(--link-color-white-highlight);
    }

    a.active {
      background: var(--link-color);
      color: white;
    }
    a.active:hover,
    a.active:focus {
      background: var(--link-color-highlight);
    }
  }
</style>