---
import type { MarkdownHeading } from '@astrojs/markdown-remark'
import Outline from '../components/Outline.astro'
import Layout from '../layouts/Layout.astro'

interface Props {
  title: string
  description: string
  headings: MarkdownHeading[]
}

const { title, description, headings } = Astro.props
---

<Layout title={title} description={description}>
  <div class="wrapper">
   <div class="content">
      <slot />
    </div>
    <div class="outline">
      <Outline headings={headings} />
    </div>
  </div>
</Layout>

<style>
  .wrapper {
    align-self: center;
    padding: 10px 10px 20px;
    margin: 0;
    width: 1020px; /* 1000 + 2 * padding */
    max-width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    gap: calc(4 * var(--padding));
  }

  .outline {
    margin-top: 5em;
    width: 160px;
  }

  .content {
    flex: 1;
  }

  :global(p) {
    line-height: 1.5em;
  }

  :global(pre.astro-code) {
    padding: 5px;
    border-radius: 3px;
    line-height: 1.4em;
  }

  :global(table code),
  :global(p code) {
    background: var(--code-background);
    padding: 2px 5px;
    border-radius: var(--border-radius);
    display: inline-block;
  }

  :global(table) {
    border-collapse: collapse;
  }
  :global(table th),
  :global(table td) {
    border: var(--table-cell-border);
    padding: var(--table-cell-padding);
  }
</style>